/****** Script for SelectTopNRows command from SSMS  ******/
  SELECT TOP (10) [Id]
      ,[Created]
      ,[Edited]
      ,[PhoneColumn]
      ,[Title]
      ,[Value]
  FROM [Notificall].[dbo].[Sources]

  SELECT TOP (10) [Id]
      ,[Created]
      ,[Edited]
      ,[Emotion]
      ,[Language]
      ,[SourceId]
      ,[Speaker]
      ,[Speed]
      ,[Title]
      ,[Value]
  FROM [Notificall].[dbo].[Texts]

SELECT TOP (10) [Id]
      ,[Created]
      ,[Edited]
      ,[SourceId]
      ,[Status]
      ,[TextId]
  FROM [Notificall].[dbo].[Events]

  SELECT TOP (10) [Id]
      ,[Created]
      ,[EventId]
      ,[MessageText]
      ,[Phone]
      ,[Result]
  FROM [Notificall].[dbo].[Calls]