<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="YandexUrl" value="https://tts.voicetech.yandex.net/generate"/>
  <add key="YandexApiKey" value="f63e4581-00b3-4502-ba73-2a71ea3e58c0"/>
  <add key="DefaultLanguage" value="ru-RU"/>
  <add key="BlobStorage_ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=notificall;AccountKey=FvFnkSV2FI6BtJBTZFxcpdCGXKOa/0BYNhe2dwnBcy3GbEzXFPMSWj4bOeJpOM2h/GlMO7rROVy2uEYBMnLSlw==;EndpointSuffix=core.windows.net"/>
  <add key="BlobStorage_Container" value="notificall"/>
 </appSettings>
 <connectionStrings>
  <add name="defaultConnection" connectionString="Server=(localdb)\mssqllocaldb;Database=Notificall;Trusted_Connection=True;MultipleActiveResultSets=true" />
 </connectionStrings>
</configuration>